.title {
    font-family: 'Lobster', Helvetica, Arial, serif;
}

header {
    text-align: center;
    font-style: italic;
}

.card-delete {
    float: right;
    vertical-align: top;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}